.App{
    height:100vh;
    width:100%;
    background-color: #108139;
}
.modal{
    position:absolute;
    z-index: 2;
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.671);
    display:flex;
    justify-content: center;
    align-items: center;
}
.center{
    background-color: white;
    width:50%;
    height:50%;
    padding:10px;
    max-width:900px;
}
.distribute{
    background-color: white;
    width:20%;
    height:20%;
    padding:10px;
    max-width:900px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.distribute p{
    font-weight: bold;
}
.distribute button{
    background-color: rgb(131, 255, 81);
    border:none;
    width:100px;
    height:27px;
    text-align: center;
    color:black;
    cursor: pointer;
    margin-top:20px;

}
.pop-center{
    background-color: white;
    width:60%;
    height:60%;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.turn-true{
    height:50px;
    width:50px;
    background:rgb(21, 255, 21);
    position:absolute;
    right:10px;
    top:10px;
    border-radius:50%;
}
.turn-false{
    height:50px;
    width:50px;
    background:red;
    position:absolute;
    right:10px;
    top:10px;
    border-radius:50%;
}
.opponent{
    width:100%;
    height:33.3%;
    padding:10px;
    display:flex;
}
.opProperty{
    width:75%;
    display: flex;
    border: 1px solid red;
    padding:5px
}
.opMoney{
    width:25%;
    display:flex;
    border: 1px solid red;
    margin: 0 5px 0 5px;
    padding:5px
}
.personal{
    width:100%;
    height:38.3%;
    padding:10px;
    display: flex;
}
.personalProperty{
    width:75%;
    display: flex;
    border: 1px solid red;
    padding:5px
}
.personalMoney{
    width:25%;
    border: 1px solid red;
    margin: 0 5px 0 5px;
    padding:5px
}
.moneyTable{
    position:relative;
    width:100%;
    height:100%;
}
.moneyTable-money{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.draw{
    width:100%;
    height:28.3%;
    padding:5px;
    display:flex;
    align-items: center;
}
.drawn-cards{
    width:90%;
    display:flex;
    align-items: center;
    border: 1px solid red;
    padding:5px
}
.card{
    height:169px;
    width:118px;
    background-color: white;
    margin-left:10px;
    position: relative;
    font-size: 0.9em;
}
.skip{
    width:100px;
    height:40px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}